
@font-face {font-family: "FT-page";
  src: url('../fonts/iconfont_1.eot'); /* IE9*/
  src: url('../fonts/iconfont_1.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont_1.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont_1.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont_1.svg') format('svg'); /* iOS 4.1- */
}

.FT-page {
  font-family:"FT-page" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FT-page-shizhong:before { content: "\e609"; }

.FT-page-fanhui:before { content: "\e604"; }

.FT-page-shafa:before { content: "\e656"; }

.FT-page-iconfont01:before { content: "\e600"; }

.FT-page-youjiantou:before { content: "\e60d"; }

.FT-page-zichanguanli:before { content: "\e618"; }

.FT-page-shezhi:before { content: "\e620"; }

.FT-page-jiaguanzhu:before { content: "\e625"; }

.FT-page-taiyang:before { content: "\e672"; }

.FT-page-iconfontshanchu:before { content: "\e614"; }

.FT-page-huifu:before { content: "\e647"; }

.FT-page-weixin:before { content: "\e63b"; }

.FT-page-gouwuche:before { content: "\e611"; }

.FT-page-fenxiang:before { content: "\e60a"; }

.FT-page-more:before { content: "\e62c"; }

.FT-page-bianji:before { content: "\e61c"; }

.FT-page-jiahao:before { content: "\e669"; }

.FT-page-shoucang:before { content: "\e63e"; }

.FT-page-wode:before { content: "\e66e"; }

.FT-page-baocun:before { content: "\e60f"; }

.FT-page-meiriyicai:before { content: "\e608"; }

.FT-page-shijian:before { content: "\e613"; }

.FT-page-wodetequan:before { content: "\e697"; }

.FT-page-dianhua:before { content: "\e68e"; }

.FT-page-jinpai07:before { content: "\e610"; }

.FT-page-rili:before { content: "\e60b"; }

.FT-page-shouji:before { content: "\e626"; }

.FT-page-yonghu:before { content: "\e60c"; }

.FT-page-unie60b:before { content: "\e6a4"; }

.FT-page-wechaticon16:before { content: "\e61f"; }

.FT-page-vip:before { content: "\e621"; }

.FT-page-wodedingdan18:before { content: "\e62d"; }

.FT-page-jiaru:before { content: "\e62b"; }

.FT-page-002:before { content: "\e62e"; }

.FT-page-app-audio:before { content: "\e64e"; }

.FT-page-yuyin:before { content: "\e640"; }

.FT-page-wodequanzi:before { content: "\e7a3"; }

.FT-page-jubao:before { content: "\e69e"; }

.FT-page-maiche:before { content: "\e602"; }

.FT-page-tupian:before { content: "\e627"; }

.FT-page-xingxing:before { content: "\e622"; }

.FT-page-liquan:before { content: "\e623"; }

.FT-page-gengduo:before { content: "\e82e"; }

.FT-page-xiaoxi:before { content: "\e62f"; }

.FT-page-cuxiao:before { content: "\e605"; }

.FT-page-xiangyou:before { content: "\e619"; }

.FT-page-hongbao:before { content: "\e61e"; }

.FT-page-huifu1:before { content: "\e634"; }

.FT-page-iconfontunfold:before { content: "\e644"; }

.FT-page-erweima:before { content: "\e616"; }

.FT-page-gerentouxiang:before { content: "\e662"; }

.FT-page-jifen:before { content: "\e653"; }

.FT-page-12:before { content: "\e629"; }

.FT-page-yuyin1:before { content: "\e7b5"; }

.FT-page-suo:before { content: "\e692"; }

.FT-page-shengji:before { content: "\e615"; }

.FT-page-haibao:before { content: "\e61b"; }

.FT-page-shipin:before { content: "\e6d1"; }

.FT-page-40kanjia:before { content: "\e700"; }

.FT-page-cust:before { content: "\e601"; }

.FT-page-zhuanjiarenzheng:before { content: "\e624"; }

.FT-page-zhangdan:before { content: "\e64b"; }

.FT-page-xiaolian:before { content: "\e70e"; }

.FT-page-xiugai:before { content: "\e603"; }

.FT-page-left-arrow-circle:before { content: "\e61a"; }

.FT-page-yuyinic:before { content: "\e648"; }

.FT-page-jiesuan:before { content: "\e682"; }

.FT-page-article:before { content: "\e606"; }

.FT-page-jifenxiaofei:before { content: "\e628"; }

.FT-page-yue:before { content: "\e607"; }

.FT-page-qiandao:before { content: "\e66a"; }

.FT-page-iconfonticonfontwechaticon111:before { content: "\e60e"; }

.FT-page-jiahaoyou:before { content: "\e688"; }

.FT-page-faxian:before { content: "\e633"; }

.FT-page-xiangshang:before { content: "\e6a9"; }

.FT-page-qian:before { content: "\e617"; }

.FT-page-chakantiezigengduozhiguanzhulouzhu:before { content: "\e66d"; }

.FT-page-dunpai:before { content: "\e62a"; }

.FT-page-jujue:before { content: "\e630"; }

.FT-page-qunzupx:before { content: "\e64c"; }

.FT-page-shibai:before { content: "\e6fa"; }

.FT-page-xinfeng:before { content: "\e612"; }

.FT-page-haoyoutiezi:before { content: "\e631"; }

.FT-page-pintuan1:before { content: "\e61d"; }

.FT-page-qq:before { content: "\e632"; }

.FT-page-ward:before { content: "\e635"; }

.FT-page-weidian:before { content: "\e63a"; }

.FT-page-yueliang:before { content: "\e636"; }

.FT-page-huangguan:before { content: "\e70b"; }

.FT-page-dibudaohangpinhaohuo:before { content: "\e641"; }

.FT-page-weixinzhifu-copy:before { content: "\e637"; }

.FT-page-jiesuan1:before { content: "\e9a8"; }

.FT-page-chongzhi:before { content: "\e6c7"; }

.FT-page-mfenxiaodingdan2:before { content: "\e6cb"; }

.FT-page-woguanzhudequanzi:before { content: "\e671"; }

.FT-page-huzhuwenda:before { content: "\e66f"; }

.FT-page-nv:before { content: "\e638"; }

.FT-page-quanbu:before { content: "\e639"; }

.FT-page-bianji1:before { content: "\e660"; }

.FT-page-block:before { content: "\e63c"; }

.FT-page-weizhi:before { content: "\e6cc"; }

.FT-page-pintuan:before { content: "\e64d"; }

.FT-page-kulian:before { content: "\e8d6"; }

.FT-page-jiangbei:before { content: "\e63d"; }

.FT-page-sousuo_sousuo:before { content: "\e63f"; }

.FT-page-wenda_shizhong:before { content: "\e642"; }

.FT-page-sort-ascend:before { content: "\e6f0"; }

.FT-page-quan:before { content: "\e66b"; }

.FT-page-leibie:before { content: "\e643"; }

.FT-page-jiangxu:before { content: "\e645"; }

.FT-page-fenxiao:before { content: "\e646"; }

.FT-page-toupiao:before { content: "\e649"; }

.FT-page-conpon1:before { content: "\e687"; }

.FT-page-wenda:before { content: "\e6e4"; }

.FT-page-areward:before { content: "\e855"; }

.FT-page-alipay:before { content: "\e6a7"; }

.FT-page-keyboard:before { content: "\e64a"; }

.FT-page-wodewenda:before { content: "\e706"; }

