
@media screen and (max-width:320px){
	.collocation_c span strong{ font-size:0.8em; line-height: 24px;}
	.collocation_c p img{ width:25px; height:25px; margin-top:27px;}

	}
@media screen and (min-width:321px) and (max-width:360px){
	.collocation_c span strong{  font-size:0.9em; line-height: 26px;}
	.collocation_c p img{ width:25px; height:25px;margin-top:31px}

	}
@media screen and (min-width:361px) and (max-width:480px){
	.collocation_c span strong{ font-size:1em; line-height: 28px;}
	.collocation_c p img{ width:30px; height:30px;margin-top:45px}
	
	}
@media screen and (min-width:481px) and (max-width:640px){
	.collocation_c span strong{ font-size:1.1em;  line-height: 28px;}
	.collocation_c p img{ width:35px; height:35px;margin-top:63px}
}
@media screen and (min-width:641px){
	.collocation_c span strong{font-size:1.1em; line-height: 28px;}
	.collocation_c p img{ width:35px; height:35px;margin-top:63px}
}
.max_list {
    min-width: 320px;
    margin-bottom: 10px;
    _width: 320px;
    _overflow: hidden;
    min-height: 100%;
}
.min_list {
    max-width: 768px;
    margin: auto;
    height: 100%;
}
.max_div {
    background-color: #fff;
    padding-bottom: 10px;
}
.collocation {
    padding: 0 10px;
    background-color: #FFF;
    border-top: 1px solid #ededed;
}
.collocation_tit {
    overflow: hidden;
    padding: 10px 0;
}
.collocation_tit a {
    font-size: 14px;
    display: block;
    background: url(../return2_1.png) right center no-repeat;
    background-size: 10px;
}
.collocation_tit a {
    font-size: 14px;
}
.collocation_c {
    overflow: hidden;
    padding-top: 10px;
}
.collocation_li{
    width: 26%;
    float: left;
    
}
.collocation_li span {
    display: block;
    position: relative;
}
.collocation_li span em {
    display: block;
    width: 100%;
}
.collocation_li span em img {
    width: 100%;
}
.collocation_li span strong {
    display: block;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../related_bg_1.png);
    color: #FFF;
    padding-left: 5%;
}
.collocation_li font{
    display: block;
    font-size: 14px;
    color: #555;
    padding-top:5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}
.collocation_c p {
    display: block;
    width: 11%;
    float: left;
    text-align: center;
}
.collocation_c p img {
    width: 25px;
    height: 25px;
/*    margin-top: 27px;
*/}
