@charset "gb2312";
/* CSS Document */
body{color:#545454;}
a{color:#545454;}
/*a:hover{color:#FF4500;}*/
/**头部导航条**/
.topArea{}
  .topBg{background-color:#FF4500;}
  .topBar{color:#fff;}
  .topBar a{color:#fff;}
  /*.topBar a:hover{text-decoration:underline;}*/
/**header**/
.headerBg{background-color:#BFBFBF;}
	.header .logo{color:#fff;}
.search .keyWord{background-color:#fff;}
.search .button{background-color:#B4946B; border:1px solid #9D805A; color:#fff;}
  
/*--default 导航样式--*/
.nav_1{background-color:#FF4500;box-shadow:0px -2px 5px rgba(50,50,50,0.5),0px 2px 3px rgba(100,100,100,0.5);}
	.nav_1 .NItem a{color:#fff;}
	.nav_1 .NItemCur a,.nav_1 .NItem a:active{color:#fff; background-color:#F24303;}
/*--nav_1001 导航样式--*/
.nav_1001{
	background:-moz-linear-gradient(top, #FF4500 0%, #FF4500 50%, #E94001 53%, #E94001 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF4500), color-stop(50%,#FF4500), color-stop(53%,#E94001), color-stop(100%,#E94001)); 
	background:-webkit-linear-gradient(top, #FF4500 0%, #FF4500 50%, #E94001 53%, #E94001 100%); 
	background:-o-linear-gradient(top, #FF4500 0%, #FF4500 50%, #E94001 53%, #E94001 100%); 
	background:-ms-linear-gradient(top, #FF4500 0%, #FF4500 50%, #E94001 53%, #E94001 100%); 
	background:linear-gradient(to bottom, #FF4500 0%, #FF4500 50%, #E94001 53%, #E94001 100%);
}
	.nav_1001 .NItem a{color:#fff;}
	.nav_1001 .NItemCur a,.nav_1001 .NItem a:active{color:#fff; 
		background: -moz-linear-gradient(top, #DD3D02 0%, #DD3D02 50%, #D83C02 53%, #D43B02 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DD3D02), color-stop(50%,#DD3D02), color-stop(53%,#D83C02), color-stop(100%,#D43B02)); 
		background: -webkit-linear-gradient(top, #DD3D02 0%, #DD3D02 50%, #D83C02 53%, #D43B02 100%); 
		background: -o-linear-gradient(top, #DD3D02 0%, #DD3D02 50%, #D83C02 53%, #D43B02 100%); 
		background: -ms-linear-gradient(top, #DD3D02 0%, #DD3D02 50%, #D83C02 53%, #D43B02 100%); 
		background: linear-gradient(to bottom, #DD3D02 0%, #DD3D02 50%, #D83C02 53%, #D43B02 100%);
	}
/*--.nav_1002 导航样式--*/
.nav_1002{border-color:#ae3102;
	box-shadow:0px 5px 25px rgba(190,50,0,0.7) inset;
	background:-moz-linear-gradient(top, #E94001 0%, #FF4500 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E94001), color-stop(100%,#FF4500)); 
	background: -webkit-linear-gradient(top, #E94001 0%, #FF4500 100%); 
	background: -o-linear-gradient(top, #E94001 0%, #FF4500 100%); 
	background: -ms-linear-gradient(top, #E94001 0%, #FF4500 100%); 
	background: linear-gradient(to bottom, #E94001 0%, #FF4500 100%); 
}
	.nav_1002 .NItem a{color:#fff;}
	.nav_1002 .NItemCur a,.nav_1002 .NItem a:active{
		box-shadow:1px 1px 5px rgba(5,5,5,0.5) inset,-2px -2px 5px rgba(10,10,10,0.2) inset;
		color:#fff; 
		background:-moz-linear-gradient(top, #cf3a03 0%, #e23f03 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf3a03), color-stop(100%,#e23f03)); 
		background: -webkit-linear-gradient(top, #cf3a03 0%, #e23f03 100%); 
		background: -o-linear-gradient(top, #cf3a03 0%, #e23f03 100%); 
		background: -ms-linear-gradient(top, #cf3a03 0%, #e23f03 100%); 
		background: linear-gradient(to bottom, #cf3a03 0%, #e23f03 100%);
	}
/*--.nav_1003 导航样式--*/
.nav_1003{
	border-color:#D43B02; 
	box-shadow:1px 1px 0px #FEA07D inset,-1px -1px 0px #FEA07D inset;
	background:-moz-linear-gradient(top, #D53B02 0%, #FE4500 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D53B02), color-stop(100%,#FE4500)); 
	background: -webkit-linear-gradient(top, #D53B02 0%, #FE4500 100%); 
	background: -o-linear-gradient(top, #D53B02 0%, #FE4500 100%); 
	background: -ms-linear-gradient(top, #D53B02 0%, #FE4500 100%); 
	background: linear-gradient(to bottom, #D53B02 0%, #FE4500 100%); 
}
	.nav_1003 .NItem a{color:#fff;}
	.nav_1003 .NItemCur a,.nav_1003 .NItem a:active{
		color:#fff;
		background:-moz-linear-gradient(top, #FA5F25 0%, #FA5F25 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FA5F25), color-stop(100%,#FA5F25)); 
		background: -webkit-linear-gradient(top, #FA5F25 0%, #FA5F25 100%); 
		background: -o-linear-gradient(top, #FA5F25 0%, #FA5F25 100%); 
		background: -ms-linear-gradient(top, #FA5F25 0%, #FA5F25 100%); 
		background: linear-gradient(to bottom, #FA5F25 0%, #FA5F25 100%); 
	}
/*--.nav_1004 导航样式--*/
.nav_1004{
	background:-moz-linear-gradient(top, #FE4500 0%, #D63B02 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE4500), color-stop(100%,#D63B02));
	background: -webkit-linear-gradient(top, #FE4500 0%, #D63B02 100%);
	background: -o-linear-gradient(top, #FE4500 0%, #D63B02 100%);
	background: -ms-linear-gradient(top, #FE4500 0%, #D63B02 100%);
	background: linear-gradient(to bottom, #FE4500 0%, #D63B02 100%);
}
	.nav_1004 .NItem:after{border-color:#FC622E #FC622E #B23105 #B23105;}
	.nav_1004 .NItem a{color:#fff;}
	.nav_1004 .NItemCur a,.nav_1004 .NItem a:active{color:#fff;}
/*--nav-5 导航样式--*/
.nav_1005{
	border-color:#FD4500 #fff #FD4500 #fff;
	background:-moz-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFDFF), color-stop(100%,#D7D7D7)); 
	background: -webkit-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); 
	background: -o-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); 
	background: -ms-linear-gradient(top, #FFFDFF 0%, #D7D7D7 100%); 
	background: linear-gradient(to bottom,  #FFFDFF 0%, #D7D7D7 100%); 
}
	.nav_1005 .NItem a{color:#333;}
	.nav_1005 .NItemCur a,.nav_1004 .NItem a:active{
		background:-moz-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FD4500), color-stop(100%,#D53B02)); 
		background: -webkit-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -o-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -ms-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: linear-gradient(to bottom,  #FD4500 0%, #D53B02 100%); 
		color:#fff;
	}
/*--nav-6 导航样式--*/
.nav_1006{
	border-color:#FD4500 #fff #D53B02 #fff;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F1F1F1)); 
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); 
	background: -o-linear-gradient(top, #FFFFFF 0%, #459BB7 100%); 
	background: -ms-linear-gradient(top, #FFFFFF 0%, #F1F1F1 100%); 
	background: linear-gradient(to bottom,  #FFFFFF 0%, #F1F1F1 100%); 
}
	.nav_1006 .NItem a{color:#333;}
	.nav_1006 .NItem:after{border-color:#FD4500 #D8D8D8 #FD4500 #FCFCFC;}
	.nav_1006 .NItemCur a,.nav_1006 .NItem a:active{
		background:-moz-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FD4500), color-stop(100%,#D53B02)); 
		background: -webkit-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -o-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: -ms-linear-gradient(top, #FD4500 0%, #D53B02 100%); 
		background: linear-gradient(to bottom, #FD4500 0%, #D53B02 100%); 
		color:#fff;
	}
/*--nav_1007 导航样式--*/
.nav_1007{
	background:-moz-linear-gradient(top, #D43B02 0%, #FF4500 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D43B02), color-stop(100%,#FF4500)); 
	background: -webkit-linear-gradient(top, #D43B02 0%, #FF4500 100%); 
	background: -o-linear-gradient(top, #D43B02 0%, #FF4500 100%); 
	background: -ms-linear-gradient(top, #D43B02 0%, #FF4500 100%); 
	background: linear-gradient(to bottom, #D43B02 0%, #FF4500 100%);
}
	.nav_1007 .NItem a{color:#fff;}
	.nav_1007 .NItemCur a,.nav_1007 .NItem a:active{
		color:#FF4500; 
		background-color:#fff; 
		box-shadow:2px 2px 2px rgba(30,30,30,0.5) inset;
	}
/*--.nav_1008 导航样式--*/
.nav_1008{
	background:-moz-linear-gradient(top, #FE4500 0%, #D43B02 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE4500), color-stop(100%,#D43B02)); 
	background:-webkit-linear-gradient(top, #FE4500 0%, #D43B02 100%); 
	background: -o-linear-gradient(top, #FE4500 0%, #D43B02 100%); 
	background: -ms-linear-gradient(top, #FE4500 0%, #D43B02 100%); 
	background: linear-gradient(to bottom, #FE4500 0%, #D43B02 100%);
}
	.nav_1008 .NItem a{
		box-shadow:2px 2px 0px rgba(129,36,3,0.8);
		color:#fff; 
		background:-moz-linear-gradient(top, #D13B03 0%, #B43405 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D13B03), color-stop(100%,#B43405)); 
		background: -webkit-linear-gradient(top, #D13B03 0%, #B43405 100%); 
		background: -o-linear-gradient(top, #D13B03 0%, #B43405 100%); 
		background: -ms-linear-gradient(top, #D13B03 0%, #B43405 100%); 
		background: linear-gradient(to bottom, #D13B03 0%, #B43405 100%); 
	}
	.nav_1008 .NItemCur a,.nav_1008 .NItem a:active{
		color:#fff; 
		box-shadow:2px 2px 0px rgba(183,52,3,0.8); 
		background:-moz-linear-gradient(top, #B43405 0%, #D13B03 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B43405), color-stop(100%,#D13B03)); 
		background: -webkit-linear-gradient(top, #B43405 0%, #D13B03 100%); 
		background: -o-linear-gradient(top, #B43405 0%, #D13B03 100%); 
		background: -ms-linear-gradient(top, #B43405 0%, #D13B03 100%); 
		background: linear-gradient(to bottom, #B43405 0%, #D13B03 100%); 
	}
/**更多菜单按钮**/
.navMoreBut{background-color:#d83b01; box-shadow:1px 1px 1px #000 inset;}
	.navMoreBut i{background-color:#ccc;}
	.navMoreBut b{background-color:#ccc;}

/**2015-07-28 新增**/
/**更多按钮样式-1**/
.navMoreBut_1 i.i-2{border-color:#FD4500; background: #F8FAFD;}
.navMoreBut_1 i.i-1,.navMoreBut_1 b.b-1,.navMoreBut_1 b.b-2{background: #FD4500; border-color:#FD4500;}
/**更多按钮样式-2**/
.navMoreBut_2{border:3px solid #FD4500;}
.navMoreBut_2 i,.navMoreBut_2 b{background: #FD4500;}
/**更多按钮样式-3**/
.navMoreBut_3{border:3px solid #FD4500;}
.navMoreBut_3 b{background: #FD4500;}
.navMoreBut_3 i{border-color:#FD4500;}
/**更多按钮样式-4**/
.navMoreBut_4{background: #FD4500; box-shadow:-1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500,1px -1px 0 #FD4500;}
.navMoreBut_4 i,.navMoreBut_4 b{ background: #F8FAFD;}
/**end 新增**/

/**2017-10-19 新增**/
/**更多按钮样式-5**/
.navMoreBut_5{box-shadow: -1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500, 1px -1px 0 #FD4500;}
.navMoreBut_5 i{ background: #FD4500;}
/**更多按钮样式-6**/
.navMoreBut_6 i,.navMoreBut_6 b{border-color:#FD4500; background: #F8FAFD;}
/**更多按钮样式-7**/
.navMoreBut_7{box-shadow: -1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500, 1px -1px 0 #FD4500;}
.navMoreBut_7 i,.navMoreBut_7 b{background: #FD4500;}
/**更多按钮样式-8**/
.navMoreBut_8 i,.navMoreBut_8 b{background: #FD4500; border-color:#FD4500;}
/**更多按钮样式-9**/
.navMoreBut_9 i,.navMoreBut_9 b{background: #FD4500; border-color:#FD4500;}
/**更多按钮样式-10**/
.navMoreBut_10{box-shadow:-1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500,1px -1px 0 #FD4500; background-color: #fff;}
.navMoreBut_10 i,.navMoreBut_10 b{background: #FD4500;}
/**更多按钮样式-11**/
.navMoreBut_11{box-shadow: -1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500, 1px -1px 0 #FD4500;}
.navMoreBut_11 i{background: #FD4500;}
/**更多按钮样式-12**/
.navMoreBut_12{box-shadow: -1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500, 1px -1px 0 #FD4500;}
.navMoreBut_12 i,.navMoreBut_12 b{background: #FD4500;}
/**更多按钮样式-13**/
.navMoreBut_13{background: #fff; box-shadow:-1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500,1px -1px 0 #FD4500;}
.navMoreBut_13 i{ background: #FD4500;}
/**更多按钮样式-14**/
.navMoreBut_14{box-shadow:-1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500,1px -1px 0 #FD4500; background-color: #fff;}
.navMoreBut_14 i{background: #FD4500;}
/**更多按钮样式-15**/
.navMoreBut_15{box-shadow:-1px 1px 0 #FD4500, -1px -1px 0 #FD4500, 1px 1px 0 #FD4500,1px -1px 0 #FD4500; background-color: #fff;}
.navMoreBut_15 i{background: #FD4500;}
/**end 新增**/
	
/**更多导航-1**/
.NMore_1001{background-color:#e63e00; box-shadow:2px 2px 4px #666;}
.NMore_1001 a{color:#fff;}
.NMore_1001 .NMTip{border-color:transparent transparent #e63e00 transparent;}
.NMore_1001 li{border-bottom:1px solid #972901; border-top:1px solid #fd6229;}
.NMore_1001 li a{}
/**更多导航-2**/
.NMore_1002{background-color:#666666; box-shadow:-2px 0 5px #000;}
	.NMore_1002 a{color:#fff;}
	.NMore_1002 li{border-top:1px solid #cccccc; border-bottom:1px solid #333333;}
/**更多导航-3**/
.NMore_1003{background-color:#e63e00; box-shadow:2px 0 2px #000; width:100%;}
	.NMore_1003 ul{}
	.NMore_1003 li{}
	.NMore_1003 li a{color:#fff;}

/**更多导航-14**/
.NMore_1014{background-color:#e63e00; box-shadow:2px 2px 4px #666;}
.NMore_1014 a{color:#fff;}
.NMore_1014 .NMTip{border-color:#e63e00 transparent transparent transparent;}
.NMore_1014 li{border-bottom:1px solid #972901; border-top:1px solid #fd6229;}
.NMore_1014 li a{}

/*--模块内容部分的样式--*/
.Mo{ border-color:#E0DFDD;}
.MoHead{height:35px; background-color:#FBE6E3; line-height:35px;}
  .NameTxt{ padding-left:10px; font-size:14px; font-family:"微软雅黑";}
	.NameTxt,.NameTxt a{ color:#FD4500;}
  .MoMore{right:10px;}
	.MoMore,.MoMore a{color:#FF4500;}
	/*.MoMore,.MoMore a:hover{color:#fc5010;}*/
.MoBodyM{background-color:#FFFFFF;}
  .MoBodyC{color:#545454;}
	.MoBodyC a{color:#545454;}
	/*.MoBodyC a:hover{color:#FF4500;}*/
	
	.MoBodyC .InputText{border:1px solid #DADADA; background-color:#fff; color:#444;}
	.MoBodyC .InputBut{background-color:#FF4500; border:1px solid #FF4500; color:#fff; border-radius:3px;}
	.MoBodyC .dashedLine,.MoBodyC .solidLine{border-color:#4A392D;}
	.MoBodyC .pics{border-color:#DADADA;}
	.MoBodyC .oldPrice em{color:#888;}
	.MoBodyC .newPrice em{color:#545454;}
/**Mo_1001 模块样式*/
.Mo_1001 .MoHead{background-image:url(../mohead_bg.png);}
  .Mo_1001 .NameTxt,.Mo_1001 .NameTxt a{color:#fff;}
  .Mo_1001 .MoMore a{color:#fff;}
.Mo_1001 .MoBody{border-color:#FF4500;}
  .Mo_1001 .MoBodyM{background-color:#fff;}
  .Mo_1001 .MoBodyC{color:#444444;}
	.Mo_1001 .MoBodyC{color:#545454;}
	/*.Mo_1001 .MoBodyC a:hover{color:#835843;}*/
/**--Mo_1002 模块样式--**/
.Mo_1002 .MoHeadL,.Mo_1002 .MoHeadM,.Mo_1002 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1002 .NameTxt,.Mo_1002 .NameTxt a{color:#fff;}
  .Mo_1002 .MoMore a{color:#fff;}
.Mo_1002 .MoBody{border-color:#FF4500;}
  .Mo_1002 .MoBodyM{background-color:#fff;}
  .Mo_1002 .MoBodyC{color:#444444;}
	.Mo_1002 .MoBodyC{color:#545454;}
	/*.Mo_1002 .MoBodyC a:hover{color:#835843;}*/
.Mo_1002 .MoBL,.Mo_1002 .MoBM,.Mo_1002 .MoBR{ height:5px; background-image:url(../mob_bg.png); display:table-cell;}
/**--Mo_1003 模块样式--**/
.Mo_1003 .MoHeadL,.Mo_1003 .MoHeadM,.Mo_1003 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1003 .NameTxt,.Mo_1003 .NameTxt a{color:#fff;}
  .Mo_1003 .MoMore a{color:#fff;}
.Mo_1003 .MoBody{border-color:#FF4500;}
  .Mo_1003 .MoBodyM{background-color:#ffffff;}
  .Mo_1003 .MoBodyC{color:#444444;}
	.Mo_1003 .MoBodyC{color:#545454;}
	/*.Mo_1003 .MoBodyC a:hover{color:#835843;}*/
.Mo_1003 .MoBL,.Mo_1003 .MoBM,.Mo_1003 .MoBR{background-image:url(../mob_bg.png);}
/**--Mo_1004 模块样式--**/
.Mo_1004 .MoHeadL,.Mo_1004 .MoHeadM,.Mo_1004 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1004 .NameTxt,.Mo_1004 .NameTxt a{color:#fff;}
  .Mo_1004 .MoMore a{color:#fff;}
.Mo_1004 .MoBody{}
  .Mo_1004 .MoBodyM{background-color:#ffffff;}
  .Mo_1004 .MoBodyC{color:#444444;}
	.Mo_1004 .MoBodyC{color:#545454;}
	/*.Mo_1004 .MoBodyC a:hover{color:#835843;}*/
/**--Mo_1005 模块样式--**/
.Mo_1005 .MoHead{background-image:url(../mohead_bg.png);background-color:transparent;}
  .Mo_1005 .NameTxt,.Mo_1005 .NameTxt a{color:#FF4500;}
  .Mo_1005 .MoMore a{color:#FF4500;}
.Mo_1005 .MoBody{}
  .Mo_1005 .MoBodyM{}
  .Mo_1005 .MoBodyC{color:#444444;}
	.Mo_1005 .MoBodyC{color:#545454;}
	/*.Mo_1005 .MoBodyC a:hover{color:#835843;}*/
/**Mo_1006 模块样式*/
.Mo_1006 .MoHead{background-image:url(../mohead_bg.png);}
  .Mo_1006 .NameTxt,.Mo_1006 .NameTxt a{color:#fff;}
  .Mo_1006 .MoMore a{color:#fff;}
.Mo_1006 .MoBody{border-color:#cccccc;}
  .Mo_1006 .MoBodyM{background-color:#ffffff;}
  .Mo_1006 .MoBodyC{color:#444444;}
	.Mo_1006 .MoBodyC{color:#545454;}
	/*.Mo_1006 .MoBodyC a:hover{color:#835843;}*/
/**--Mo_1007 模块样式--**/
.Mo_1007 .MoHeadL,.Mo_1007 .MoHeadM,.Mo_1007 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1007 .NameTxt,.Mo_1007 .NameTxt a{color:#fff;}
  .Mo_1007 .MoMore a{color:#fff;}
.Mo_1007 .MoBody{border-color:#cccccc;}
  .Mo_1007 .MoBodyM{background-color:#ffffff;}
  .Mo_1007 .MoBodyC{color:#444444;}
	.Mo_1007 .MoBodyC{color:#545454;}
	/*.Mo_1007 .MoBodyC a:hover{color:#835843;}*/
.Mo_1007 .MoBL,.Mo_1007 .MoBM,.Mo_1007 .MoBR{ height:5px; background-image:url(../mob_bg.png); display:table-cell;}
/**--Mo_1008 模块样式--**/
.Mo_1008 .MoHeadL,.Mo_1008 .MoHeadM,.Mo_1008 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1008 .NameTxt,.Mo_1008 .NameTxt a{color:#fff;}
  .Mo_1008 .MoMore a{color:#fff;}
.Mo_1008 .MoBody{border-color:#cccccc;}
  .Mo_1008 .MoBodyM{background-color:#ffffff;}
  .Mo_1008 .MoBodyC{color:#444444;}
	.Mo_1008 .MoBodyC{color:#545454;}
	/*.Mo_1008 .MoBodyC a:hover{color:#835843;}*/
.Mo_1008 .MoBL,.Mo_1008 .MoBM,.Mo_1008 .MoBR{background-image:url(../mob_bg.png);}
/**--Mo_1009 模块样式--**/
.Mo_1009 .MoHeadL,.Mo_1009 .MoHeadM,.Mo_1009 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1009 .NameTxt,.Mo_1009 .NameTxt a{color:#fff;}
  .Mo_1009 .MoMore a{color:#fff;}
  .Mo_1009 .MoBodyM{background-color:#ffffff;}
.Mo_1009 .MoBody{}

  .Mo_1009 .MoBodyC{color:#444444;}
	.Mo_1009 .MoBodyC{color:#545454;}
	/*.Mo_1009 .MoBodyC a:hover{color:#835843;}*/
/**Mo_1010 模块样式*/
.Mo_1010 .MoHead{background-color:#FF4500;}
  .Mo_1010 .NameTxt,.Mo_1010 .NameTxt a{color:#fff;}
  .Mo_1010 .MoMore a{color:#fff;}
.Mo_1010 .MoBody{border-color:#cccccc;}
  .Mo_1010 .MoBodyM{background-color:#ffffff;}
  .Mo_1010 .MoBodyC{color:#444444;}
	.Mo_1010 .MoBodyC{color:#545454;}
	/*.Mo_1010 .MoBodyC a:hover{color:#835843;}*/
/**--Mo_1011 模块样式--**/
.Mo_1011 .MoHeadL,.Mo_1011 .MoHeadM,.Mo_1011 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1011 .NameTxt,.Mo_1011 .NameTxt a{color:#fff;}
  .Mo_1011 .MoMore a{color:#fff;}
.Mo_1011 .MoBody{border-color:#cccccc;}
  .Mo_1011 .MoBodyM{background-color:#ffffff;}
  .Mo_1011 .MoBodyC{color:#444444;}
	.Mo_1011 .MoBodyC{color:#545454;}
	/*.Mo_1011 .MoBodyC a:hover{color:#835843;}*/
.Mo_1011 .MoBL,.Mo_1011 .MoBM,.Mo_1011 .MoBR{ height:5px; background-image:url(../mob_bg.png); display:table-cell;}
/**--Mo_1012 模块样式--**/
.Mo_1012 .MoHeadL,.Mo_1012 .MoHeadM,.Mo_1012 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1012 .NameTxt,.Mo_1012 .NameTxt a{color:#fff;}
  .Mo_1012 .MoMore a{color:#fff;}
.Mo_1012 .MoBody{border-color:#cccccc;}
  .Mo_1012 .MoBodyM{background-color:#ffffff;}
  .Mo_1012 .MoBodyC{color:#444444;}
	.Mo_1012 .MoBodyC{color:#545454;}
	/*.Mo_1012 .MoBodyC a:hover{color:#835843;}*/
.Mo_1012 .MoBL,.Mo_1012 .MoBM,.Mo_1012 .MoBR{background-image:url(../mob_bg.png);}
/**--Mo_1013 模块样式--**/
.Mo_1013 .MoHeadL,.Mo_1013 .MoHeadM,.Mo_1013 .MoHeadR{background-image:url(../mohead_bg.png);}
	.Mo_1013 .NameTxt,.Mo_1013 .NameTxt a{color:#fff;}
	.Mo_1013 .MoMore a{color:#fff;}
.Mo_1013 .MoBody{}
  .Mo_1013 .MoBodyM{background-color:#ffffff;}
  .Mo_1013 .MoBodyC{color:#444444;}
	.Mo_1013 .MoBodyC{color:#545454;}
	/*.Mo_1013 .MoBodyC a:hover{color:#835843;}*/
/**Mo_1014 模块样式*/
.Mo_1014{}
.Mo_1014 .MoHead{background-image:url(../mohead_bg.png);}
  .Mo_1014 .NameTxt,.Mo_1014 .NameTxt a{color:#fff;}
  .Mo_1014 .MoMore a{color:#fff;}
.Mo_1014 .MoBody{border-color:#cccccc;}
  .Mo_1014 .MoBodyM{background-color:#ffffff;}
  .Mo_1014 .MoBodyC{color:#444444;}
	.Mo_1014 .MoBodyC{color:#545454;}
	/*.Mo_1014 .MoBodyC a:hover{color:#835843;}*/
/**Mo_1015 模块样式*/
.Mo_1015{border-color:#cccccc;}
.Mo_1015 .MoHead{border-color:#FF4500; background-image:url(../mohead_bg.png); background-color:#ffffff;}
  .Mo_1015 .NameTxt,.Mo_1015 .NameTxt a{color:#FF4500;}
  .Mo_1015 .MoMore a{color:#FF4500;}
  /*.Mo_1015 .MoMore a:hover{color:#b83683;}*/
  .Mo_1015 .MoBodyM{background-color:#ffffff;}
  .Mo_1015 .MoBodyC{color:#444444;}
	.Mo_1015 .MoBodyC{color:#545454;}
	/*.Mo_1015 .MoBodyC a:hover{color:#835843;}*/
/**--Mo_1016 模块样式--**/
.Mo_1016 .MoHeadL,.Mo_1016 .MoHeadM,.Mo_1016 .MoHeadR{background-image:url(../mohead_bg.png);}
  .Mo_1016 .MoNameL,.Mo_1016 .MoNameM,.Mo_1016 .MoNameR{background-image:url(../moname_bg.png);}
  .Mo_1016 .NameTxt,.Mo_1016 .NameTxt a{color:#fff;}
  .Mo_1016 .MoMore a{color:#FF4500;}
  /*.Mo_1016 .MoMore a:hover{color:#FF4500;}*/
.Mo_1016 .MoBody{border-color:#cccccc;}
  .Mo_1016 .MoBodyM{background-color:#ffffff;}
  .Mo_1016 .MoBodyC{color:#444444;}
	.Mo_1016 .MoBodyC{color:#545454;}
	/*.Mo_1016 .MoBodyC a:hover{color:#835843;}*/

	/**--Mo_1017 模块样式--**/
/*.Mo_1017{border-color:#fff; background-color:#fff;}*/
.Mo_1017 .MoHead{}
.Mo_1017 .MoHeadM{border-color:#FD4500; background-color:#fff;}
  .Mo_1017 .NameTxt{border-color:#FD4500;}
	.Mo_1017 .NameTxt,.Mo_1017 .NameTxt a{ color:#676767;}
  .Mo_1017 .MoMore{background-color:#FD4500;}
	.Mo_1017 .MoMore a{ color:#fff;}
	.Mo_1017 .MoMore:active,.Mo_1017 .MoMore a:active{color:#24A2C9;}
.Mo_1017 .MoBodyM{ background-color:#fff;}
  .Mo_1017 .MoBodyC{color:#5C5C5C;}
	.Mo_1017 .MoBodyC .txtlist-a a{color:#676767;}
	/*.Mo_1017 .MoBodyC .proName,.Mo_1017 .MoBodyC .proName a{color:#676767;}*/
	.Mo_1017 .MoBodyC .oldPrice{color:#888;}
	.Mo_1017 .MoBodyC .newPrice{color:#ff6600;}

/**--2015-07-28 新增--**/
/**--Mo_1018 模块样式--**/
.Mo_1018 .MoHead{border-color:#FD4500; background-color: #fff;}
.Mo_1018 .MoMore a{color:#000;}
.Mo_1018 .NameTxt a{color:#676767;}
.Mo_1018 .MoBodyM{background-color: #fff;}
.Mo_1018 .MoBodyC a{color:#5c5c5c;}
/**--Mo_1019 模块样式--**/
.Mo_1019 .MoHead{border-color:#FD4500; background-color: #F7F7F8;}
.Mo_1019 .MoMore a{color:#000;}
.Mo_1019 .NameTxt a{color:#676767; font-size: 16px;}
.Mo_1019 .MoBodyM{background-color: #fff;}
.Mo_1019 .MoBodyC a{color:#5c5c5c;}
/**--Mo_1020 模块样式--**/
.Mo_1020 .MoName .MoNameM .NameTxt{ border-color:#FD4500;}
.Mo_1020 .MoHead{ border-color:#E1E1E1; background-color: #fff;}
.Mo_1020 .MoMore a{color:#000;}
.Mo_1020 .MoBodyM{background-color: #fff;}
.Mo_1020 .MoBodyC a{color:#5c5c5c;}
.Mo_1020 .NameTxt a{color:#676767;}
/**--end 新增--**/

/**HMo_1001 标题模块样式*/
.HMo_1001{}
  .HMo_1001 .MoT,.HMo_1 .MoB{display:none;}
  .HMo_1001 .MoHeadM{background-color:#FF4500;}
  .HMo_1001 .NameTxt,.HMo_1001 .NameTxt a{color:#fff;}
  .HMo_1001 .MoMore a{color:#fff;}
/**HMo_1002 标题模块样式*/
  .HMo_1002 .MoTL,.HMo_1002 .MoTR{background-image:url(../sj_bg.png);}
  .HMo_1002 .MoTM{background-color:#FF4500;}
  .HMo_1002 .MoHeadM{background-color:#FF4500;}
	.HMo_1002 .NameTxt,.HMo_1002 .NameTxt a{color:#fff;}
  .HMo_1002 .MoMore a{color:#fff;}
/**HMo_1003 标题模块样式*/
	.HMo_1003 .MoTL,.HMo_1003 .MoTR,.HMo_1003 .MoBL,.HMo_1003 .MoBR{background-image:url(../sj_bg.png);}
	.HMo_1003 .MoTM,.HMo_1003 .MoBM{background-image:url(../tm_bm_bg.png);}
  .HMo_1003 .MoHeadL,.HMo_1003 .MoHeadR{width:5px; background-image:url(../hl_hr_bg.png);}
	.HMo_1003 .MoHeadM{background-color:#FF4500;}
	  .HMo_1003 .NameTxt,.HMo_1003 .NameTxt a{color:#fff;}
	.HMo_1003 .MoMore a{color:#fff;}
/**HMo_1004 标题模块样式*/
	.HMo_1004 .MoTL,.HMo_1004 .MoTR,.HMo_1004 .MoBL,.HMo_1004 .MoBR{background-image:url(../sj_bg.png);}
	.HMo_1004 .MoTM,.HMo_1004 .MoBM{background-color:#FF4500;}
	.HMo_1004 .MoHeadM{background-color:#FF4500;}
	.HMo_1004 .NameTxt{padding-left:10px;}
	  .HMo_1004 .NameTxt,.HMo_1004 .NameTxt a{color:#fff;}
	.HMo_1004 .MoMore a{color:#fff;}
/**--HMo_1005 basic setting--**/
	.HMo_1005 .MoBM{background-image:url(../bm_bg.png);}
	.HMo_1005 .MoHeadM{background-color:#FF4500;}
	  .HMo_1005 .NameTxt,.HMo_1005 .NameTxt a{color:#fff;}
	.HMo_1005 .MoMore a{color:#fff;}
/**--HMo_1006 basic setting--**/
	.HMo_1006 .MoBM{background-image:url(../bm_bg.png);}
	.HMo_1006 .MoHeadM{background-color:#transparent;}
	  .HMo_1006 .NameTxt,.HMo_1006 .NameTxt a{color:#FF4500;}
	.HMo_1006 .MoMore a{color:#FF4500;}
/*--page style--*/
.page a{color:#333;}
.disabled{border:1px solid #ddd; color:#999; background-color:#fff;}
.page a{ border:1px solid #ccc; color:#A6A6A6; background-color:#fff;}
.page-start,.page-end,.page-prev,.page-next{background:url('../pagebg.png') no-repeat;}
.page .page-start{border:#bbb 1px solid; color:#999; background-color:#fff;}
 /*.page .page-prev:hover{ background-position:5px -36px;}*/
.page-end{background-position:-14px 6px; border:#bbb 1px solid; background-color:#fff; color:#999;}
.page .page-next{background-position:-14px -15px;}
/*.page .page-next:hover{ background-position:-14px -36px;}*/
/*.page a:hover,.page strong{color:#fff;background-color:#FF4500; border:1px solid #FF4500;}*/
/**底部页脚**/
.footer{}
.footerBg{background-color:#fff; border-color:#D9D9D9;}
.footerCon{}
  .footerNav{border-bottom:1px solid #fff;}
	.footerNav,.footerNav a{color:#444444;}
	/*.footerNav a:hover{text-decoration:underline; color:#FC6227;}*/
  .copyright{color:#454545;}
/**toolMenu**/
.toolMenu{background-color:#E63E00;}
	.toolBut strong{color:#fff;}
/**焦点图**/
	.banner-nav-1 span{ background-color:gray;}
	.banner-nav-1 .cur{background-color:#FF4500;}
	.banner-nav-2 span{color:#fff;}
	.banner-nav-2 .cur{background-color:#FF4500;}

/**基本模块公用颜色**/
.pic{outline-color:#ccc;}
.text{color:#7C7B7C;}
.picTxtmodule{}
.txtListmodule a{color:#7C7B7C;}
	/*.txtListmodule a:hover{color:#E63E00;}*/
/*.proName{color:#454543;}*/
.proPrice{color:#454543;}
.oldPrice em{color:#aaa;}
.newPrice em{color:#E63E00;}
.dashed_divide{border-top:1px dashed #D6D6D6;}/**分界虚线颜色**/
.solid_divide{border-top:solid #D6D6D6 1px;}/**分界实线线颜色**/
.tInputObj{border-color:#ccc; background-color:#fff;}
.pInputObj{border-color:#ccc; background-color:#fff;}
.eButObj{border-radius:3px; text-align:center; line-height:30px; height:30px; 
	background:-moz-linear-gradient(top, #D63C02 0%, #BF3502 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D63C02), color-stop(100%,#BF3502)); 
	background: -webkit-linear-gradient(top, #D63C02 0%, #BF3502 100%); 
	background: -o-linear-gradient(top, #D63C02 0%, #BF3502 100%); 
	background: -ms-linear-gradient(top, #D63C02 0%, #BF3502 100%); 
	background: linear-gradient(to bottom, #D63C02 0%, #BF3502 100%); 
	color:#fff;
}
.eButObj:active{
	background:-moz-linear-gradient(top, #FF4500 0%, #E43E00 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF4500), color-stop(100%,#E43E00)); 
	background: -webkit-linear-gradient(top, #FF4500 0%, #E43E00 100%); 
	background: -o-linear-gradient(top, #FF4500 0%, #E43E00 100%); 
	background: -ms-linear-gradient(top, #FF4500 0%, #E43E00 100%); 
	background: linear-gradient(to bottom, #FF4500 0%, #E43E00 100%); 
}
.rButObj{border-radius:3px; text-align:center; line-height:30px; height:30px; background:-moz-linear-gradient(top, #ccc 0%, #aaa 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(100%,#aaa)); background: -webkit-linear-gradient(top, #ccc 0%, #aaa 100%); background: -o-linear-gradient(top, #ccc 0%, #aaa 100%); background: -ms-linear-gradient(top, #ccc 0%, #aaa 100%); background: linear-gradient(to bottom, #ccc 0%, #aaa 100%); color:#222;}
/**--表格--**/
  .tableModule{}
  .tableModule table{ border:1px solid #ddd;}
  .tableModule td{border:1px solid #ddd;}
  .tableModule td.tdcol{background-color:#f5f5f5; color:#555;}

/**类别分类**/
.classList li{border-bottom:1px dotted #d6d6d6;}
	.classList li span:after{border-left:1px solid #ccc;}
	.classList li span:last-child:after{display:none;}
	.classList li span a{color:#525252;}
	.classList li span a:active{background-color:#f5f5f5;}
	.classList li span:last-child{border-right:0px;}

/**模块**/
.MoHead{ background-color:#DCDBDB;}
	.MoTitle a{color:#E63E00; font-weight:100;}
	.MoMore em{border-color:transparent transparent transparent #FFF; -webkit-filter:drop-shadow(1px 1px 0px #D3D3D3);}
	.MoBody{ background-color:#fff;}


/**--留言--**/
.onMessage{border:0px;}
/**--留言列表--**/
.MessageList .leftLine{background-color:#E13D00;}
 .MessageList > h3{border-color:#E13D00; background-color:#F74300; color:#fff;}
 .MessageList > h3:after{border-color:#E13D00; background-color:#F74300;}
 .commentListItem dd > .pics small{border-color:#E13D00;}
 .commentListItem dd > .pics span a{color:#555;}
 .commentListItem .commentCon{border-color:#C03602; background-color:#fff; box-shadow:3px 3px 3px #aaa;}
 .commentListItem .commentCon:after{color:#888; opacity:0.8;}
	 .commentListItem > dd:before{ border-color:#C03602 #C03602 transparent transparent;}
	 .commentListItem > dd:after{border-color:#fff #fff transparent transparent;}
	.commentListItem .praiseAbut,.commentListItem .stampAbut{ color:#98624B;}
	.commentListItem .praiseAbut{background:url(../onmessage_icon.png); background-repeat:no-repeat;}
	 .commentListItem .returnAbut{background-color:#F0480A;color:#98624B;}
	 .commentListItem .returnAbut:before{border-color:transparent #F0480A transparent transparent;}
	 .commentListItem .returnAbut i{background-color:#fff;}
.returnarea{border-color:#C03602;}
 .returnarea:before{border-color:transparent transparent #C03602;}
 .returnarea:after{border-color:transparent transparent #fff; }
 .returnList li{border-color:#C03602;}
	.myMeTit{background-color:#E13D00;}
	.myMeTit h3{color:#fff;}
	.myMeTit em.back,.myMeTit em.enter{border-color:#C33602; background-color:#D53B02; color:#fff; text-shadow:1px 1px 1px #000;}
	.myMeTit em.back:before{border-color:transparent #C33602 transparent transparent;}
	.myMeTit em.back:after{ border-color:transparent #D53B02 transparent transparent;}

/*公用色系颜色*/
.this_color{ background-color: #FD4500 !important;}
.this_bo_color{ border-color:#FD4500 !important;}
.this_font_color{color:#FD4500 !important;}		